@import "../../App.scss";
.list {
   margin: 10px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $border-container--color;
      padding: 10px;
   }

   &__content {
      display: flex;
   }
}
